@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MrFixIt.Models.Job


<script type="text/javascript">
    $(function () {
        $("#claim-button").click(function () {

            var data = $("#claim").serialize();

            $.ajax({
                type: 'POST', 
                data: data,
                url: '/Jobs/Claim',
                success: function (result) {
                    $("#show-on-sucess").html(result);
                    $("#claim-button").hide();
                    $("#senpaiPls").hide();
                }
            });
        });
    });
</script>

<h2 id="senpaiPls">Would you like to do this job?</h2>
<hr />

  <form id="claim">
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <input type="button" id="claim-button" value="Claim This Job" />
  </form> 

<div id="show-on-sucess"></div><!--Populate this div.-->

<p>@Html.ActionLink("Back to list", "Index")</p>